# Ignore Gradle project-specific cache directory
/gradle/wrapper/gradle-wrapper.jar
.gradle
gradlew
gradlew.bat

.kotlin

# Ignore Gradle build output directory
build
# Ignore binaries directory
bin/

# Ignore local DB file
kls_database.db
